{# Load the Js #}
<script type="text/javascript" src="https://cdn.novalnet.de/js/v3/payment.js"></script>
<script src="{{plugin_path('Novalnet')}}/js/novalnetExpressCheckout.js" integrity="sha384-XW0Bp1wFB/ejo51qrbzTPtFeKvZ7905w02w7wR/bD/eiDagUOmTpdPVV6hq5rymf" crossorigin="anonymous"></script>

{# wallet Pay payment form #}
<div id="nn_google_pay_button">
<form method="post" id="nn_google_pay_form" name="nn_google_pay_form" action="{{nnPaymentProcessUrl}}">
    {# Set up the post data#}
    <input type="hidden" name="nn_payment_process_url" id="nn_payment_process_url" value="{{nnPaymentProcessUrl}}">
    <input type="hidden" name="nn_google_pay_mop" id="nn_google_pay_mop" value="{{paymentMethodId}}">
    <input type="hidden" name="nn_google_pay_wallet_token" id="nn_google_pay_wallet_token">
    <input type="hidden" name="nn_google_pay_response" id="nn_google_pay_response">
    <input type="hidden" name="nn_google_pay_do_redirect" id="nn_google_pay_do_redirect">
    <input type="hidden" name="nn_accept_gtc" id="nn_accept_gtc" value="{{trans("Novalnet::Customize.template_checkout_accept_gtc")}}">
    <input type="hidden" name="nn_accept_gtc" id="nn_currency">
    <input type="hidden" name="nn_order_amount" id="nn_order_amount" value="{{orderAmount}}">
    <input type="hidden" name="nn_order_lang" id="nn_order_lang" value="{{orderLang}}">
    <input type="hidden" name="nn_order_currency" id="nn_order_currency" value="{{orderCurrency}}">
    <input type="hidden" name="nn_country_code" id="nn_country_code" value="{{countryCode}}">
    <input type='hidden' name="nn_wallet_payments"  id="nn_wallet_payments" value="{{enabledWalletPayment}}">
    <input type='hidden' name="nn_configuration_data" id="nn_configuration_data" value="{{configurationData}}">
    <input type='hidden' name="nn_enforce" id="nn_enforce" value='{{isEnforceEnabled}}'>
    <input type='hidden' name="nn_merchant_id" id="nn_merchant_id" value='{{merchantId}}'>
    <input type='hidden' name="nn_shipping_details" id="nn_shipping_details" value='{{shippingDetails}}'>
    <input type='hidden' name="nn_shipping_profile_id" id="nn_shipping_profile_id" value='{{shippingProfileId}}'>
    <input type='hidden' name="nn_available_country_code" id="nn_available_country_code" value='{{availableCountryCode}}'>

    {# Set the reinitialization is used #}
        {% if reinitializePayment is not empty %}
            <input type="hidden" id="nn_reinitializePayment" name="nn_reinitializePayment" value="{{reinitializePayment}}">
            <input type="hidden" id="nn_order_amount" name="nn_order_amount" value="{{orderAmount}}">
        {% endif %}

    {# Google Pay container #}
    <div id="novalnet_googlepay" data-country="{{countryCode}}" data-total-amount="{{orderAmount}}" data-order-lang="{{orderLang}}" data-currency="{{orderCurrency}}"></div>
    <div id="novalnet_applepay" data-country="{{countryCode}}" data-total-amount="{{orderAmount}}" data-order-lang="{{orderLang}}" data-currency="{{orderCurrency}}" style="margin-top:20px"></div>
</form>
</div>
